.features__right-column
{
    transition: background-color 0.4s ease;
}

@media screen and (min-width: 991px) 
{
    .feature__img 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .feature__img.active
    {
        opacity: 1 !important;
    }
}

@media screen and (max-width: 991px) 
{
    .feature__img 
    {
        position: relative;
        opacity: 1;
    }    
}
