.compare__dp--item:last-child
{
    border-bottom: none;
}

.compare__dp--bot
{
    display: none;
}

.compare__descr p.hide
{
    display: none;
}

.compare__tooltip--content p br
{
    display: none;
}

.compare__tooltip .weight--500
{
    display: block;
}

@media screen and (max-width: 991px) 
{
    .compare__tooltip .weight--500
    {
        display: none;
    }

    .compare__tooltip--icon
    {
        display: flex;
    }
}

