/* Slider */
.hero__slider--item.swiper-slide
{
    width: 21.25em !important;
    height: 34.03em !important;
}

.hero__slider
{
    overflow: hidden !important;
    padding-right: 10.6em;
}

.hero__slider--bullets.swiper-pagination-bullets.swiper-pagination-horizontal
{
    width: 47.22em;
}

.hero__slider--bullet.is-active,
.blog-tags__radio--parent.is-active
{
    background-color: #0037FF;
    color: white;
}

.hero__slider--bullets
{
    bottom: -3.13em !important;
}

.hero__slider--item .p--16
{
    --max-lines: 3;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines) !important;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.blog-tags__search--field
{
    background-color: transparent !important;
}

.posts__item--title .h--24
{
    --max-lines-title: 2;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines-title) !important;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.posts__content .p--16
{
    --max-lines-descr: 3;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines-descr) !important;
    overflow: hidden;
    -webkit-box-orient: vertical;
}


@media screen and (min-width: 991px) 
{
    .posts__list.is--recent .posts__item:first-child
    {
        position: absolute;
        left: 0;
        top: 0;
    }

    .posts__list.is--recent .posts__item:first-child .posts__link
    {
        flex-direction: column;
    }

    .posts__list.is--recent .posts__item:first-child .posts__link .posts__left
    {
        width: 100%;
    }

    .posts__list.is--recent .posts__item:first-child .posts__link .posts__thumbnail 
    {
        height: 18.19em;
    }

    .posts__list.is--recent .posts__item:first-child .posts__link .posts__arrow 
    {
        display: block;
    }

    .posts__list.is--recent .posts__item:first-child .posts__link .posts__categories--wrapper
    {
        margin-top: 0.83em;
    }    

    .posts__list.is--recent .posts__item:first-child .posts__link .posts__item--title    {
        padding-right: 4em;
    }    
}

@media screen and (max-width: 480px) 
{
    .hero__slider--item.swiper-slide
    {
        width: 64em !important;
        height: 125.87em !important;
    }

    .hero__slider
    {
        padding-right: 32em;
    }
}
